@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

#todo-list {
    display: grid;
    justify-content: center;
    font-family: 'Source Sans 3', sans-serif;
    width: 500px;
    margin: 5em auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* input form */
input[type=submit] {
    justify-self: end;
    width: 2em;
    margin-top: .25em;
}


 /* */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0;
}
