@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,200&display=swap');

body {
    display: grid;
    place-items: center;
}

.boxes {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}

.box {
    width: 200px;
    height: 200px;
    background-color: navy;
    display: grid;
}
.box:hover {
    background-color: crimson;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    place-self: center;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    place-self: center;
}